{% extends 'base.html' %}
{% block content%}
	<!-- Displays form for querying -->
    <div class="row center-align">
        <form class="col s12" action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="input-field s6">
                        <input id="term" type="text" name="term" class="validate" value="{{ request.POST.term }}">
                        <label for="term">Search</label>
                </div>
            </div>
            <div class="row">
                <input class="btn waves-effect waves-light deep-purple" type="submit" name="action">
                </input>    
            </div>
        </form>
    </div>

    <!-- Displays result cards for each result -->
    {% if result %}
        {% for res in result %}
        <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
            <div class="card-content">
                <span class="card-title">{{res.title}}</span>
                <p>{{res.content}}</p>
            </div>
            <div class="card-action">
                <a class="deep-purple-text" href="#">Learn More</a>
            </div>
            </div>
        </div>
        </div>
        
        {% endfor %}
    {% endif %}

{% endblock %}